* {
	margin: 0;
	padding: 0;
}

header {
	height: 130px;
	background-color: #6f1212;
	display: grid;
	grid-template-columns: 100px 90%;
}

h1 {
	text-align: center;
	padding-top: 30px;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 2.5em;
	letter-spacing: 3px;
	color: white;
}

nav {
	background-color: #8aa88a;
	padding-top: 20px;
}

main {
	display: grid;
	grid-template-columns: 250px auto;
}

#logo {
	width: 100px;
	height: 113px;
	margin: 15px 0px 10px 40px;
}

/* -------STYLE OF FILTER AND SORT BUTTONS------ */

.txt_style {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}

#sort_buttons .txt_style,
#filter_buttons .txt_style {
	margin-left: 30px;
}

#search_inputfield {
	width: 90%;
	height: 30px;
	display: flex;
	margin: 20px auto 20px auto;
	border-radius: 7px;
	padding: 3px;
	border: 1px solid rgb(122, 122, 122);
}

#filter_buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.filter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 80%;
	height: 30px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 15px;
	cursor: pointer;
	color: #021a02;
	box-shadow: -1px -1px 2px rgb(192, 206, 192), 1px 1px 2px #5e725e;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}

.filter:hover {
	box-shadow: -1px -1px 2px #5e725e, 1px 1px 2px rgb(192, 206, 192);
}

#sort_buttons {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sort {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 80%;
	height: 30px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 15px;
	cursor: pointer;
	color: #021a02;
	box-shadow: -1px -1px 2px rgb(192, 206, 192), 1px 1px 2px #5e725e;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}

.sort:hover {
	box-shadow: -1px -1px 2px #5e725e, 1px 1px 2px rgb(192, 206, 192);
}

#currently_showing {
	display: flex;
	flex-direction: row;
	gap: 7px;
	justify-content: center;
}

/* -------STYLE OF STUDENT LIST------ */

#top_info {
	background-color: rgb(219, 211, 197);
	max-width: 100%;
	display: grid;
	grid-template-columns: 230px 150px auto 120px 120px 180px;
	font-weight: bold;
	padding: 10px 0px 10px 20px;
	font-family: "Frank Ruhl Libre", serif;
}

#top_info p {
	display: flex;
	text-align: center;
	align-items: center;
}

#studentList {
	background-color: #f8f4ec;
}

.student_object {
	display: grid;
	grid-template-columns: 230px 150px auto 400px;
	font-family: "Frank Ruhl Libre", serif;
}

#name {
	display: flex;
	flex-direction: row;
	gap: 3px;
	margin: 5px 0px 5px 20px;
	font-family: "Frank Ruhl Libre", serif;
}

#student_house,
#blood_status,
#admin_buttons {
	margin: 5px 0px 5px 0px;
}

#studentList:nth-child(odd) {
	background-color: #eee5d5;
}

#name:hover {
	color: #6f1212;
	cursor: pointer;
}

#admin_buttons {
	display: grid;
	grid-template-columns: 130px 130px 300px;
	text-align: center;
}

.admin_buttons {
	width: 70px;
	height: 25px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0);
	color: black;
	cursor: pointer;
}

[data-field="prefect"][data-prefect="true"] {
	background-color: purple;
}

[data-field="squad"][data-squad="true"] {
	background-color: green;
}

[data-field="expel"]:hover {
	background-color: #a01b1b;
}

/* -----------POP UP BOX STYLING------------ */

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/* backdrop-filter: blur(1.5px); */
	display: flex;
	justify-content: center;
	align-items: center;
}

#popup {
	display: grid;
	grid-template-columns: 100px 350px 1fr;
	gap: 15px;
	box-shadow: 1px 1px 5px grey;
	border-radius: 12px;
	padding: 1em;
	background-color: white;
	position: relative;
	padding-bottom: 100px;
}

#student_photo {
	width: 100px;
	height: 100px;
}

#pop_names {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

button#closebutton {
	position: absolute;
	right: 15px;
	top: 10px;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	background-color: red;
	border: 1px solid rgb(116, 0, 0);
}

button#closebutton:hover {
	background-color: rgb(161, 0, 0);
	cursor: pointer;
}

.info_wrapper {
	display: flex;
	flex-direction: row;
	gap: 7px;
	margin-bottom: 10px;
	margin-top: 15px;
}

footer {
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.zindex {
	z-index: -1;
}

.backdrop {
	backdrop-filter: blur(1.5px);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.dialog {
	box-shadow: 1px 1px 1px #333;
	border-radius: 12px;
	padding: 2em;
	background-color: #ffe19e;
	position: relative;
}

button.closebutton {
	position: absolute;
	right: -1em;
	top: -1em;
	border-radius: 50%;
	width: 2em;
	height: 2em;
}

.dialog h1 {
	margin-top: 0;
}

.valgt {
	box-shadow: -1px -1px 2px #5e725e, 1px 1px 2px rgb(192, 206, 192);
}
